<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electro Fun</title>

    <script>
      (function () {
        var redirect = sessionStorage.redirect;
        delete sessionStorage.redirect;

        if (redirect && redirect !== location.href) {
          history.replaceState(null, null, redirect);
        }
      })();
    </script>
</head>
<body>
<div id="app"></div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2QFDYEEWD7"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag () {dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'G-2QFDYEEWD7');
</script>
</body>
</html>
